:root {
  --container-with: 325px;
}
footer {
  margin-top: 30px;
  height: 200px;
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  overflow: visible;
}
footer h1 {
  font-weight: 300;
  font-size: 20px;
}
footer .flex {
  justify-items: center;
  justify-content: space-between;
}
footer .container {
  max-width: 1100px;
}
footer span {
  padding: 6px;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}
footer a {
  text-decoration: none;
  color: brown;
}
footer li {
  list-style: none;
}
footer h3 {
  font-weight: 200;
  font-size: 14px;
}
.item {
  font-size: 20px;
  color: white;
}
footer .copyright {
  width: var(--container-with);
}
footer .contact {
  width: var(--container-with);
}

@media screen and (max-width: 730px) {
  footer .flex {
    flex-direction: column;
    justify-content: center;
  }
  footer {
    height: 250px;
  }
  footer .contact {
    margin-bottom: 10px;
  }
  footer .copyright {
    margin-top: 10px;
  }
}
@media screen and (max-width: 360px) {
  .item {
    font-size: 16px;
    color: white;
  }

  footer .copyright h1 {
    font-size: 16px;
  }
  footer .contact {
    margin: 10px 0 auto auto;
    width: 100%;
  }
  footer .copyright {
    margin: 0 10px auto auto;
    width: 100%;
  }
}
