html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --primary-color: black;
  --paragtpah-size: 20px;
}
/* Banner */
.banner {
  background-size: cover;
  background-attachment: fixed;
}
.banner {
  height: 100vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url(/Images/tachbanner.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: visible;
}
.banner {
  position: relative;
}

.banner h1 {
  text-align: center;
  height: 30%;
  color: white;
  font-weight: 400;
}
.banner .container {
  flex-direction: column;
  justify-content: space-between;
  padding-top: 100px;
}
.banner .bnt {
  position: absolute;
  bottom: 100px;
}
.bnt:hover {
  background-color: rgb(243, 209, 209, 0.5);
}
/* showcase */
.showcase {
  position: relative;
}
.showcase .underline {
  width: 90px;
}
.showcase .heading {
  font-size: 30px;
}
.showcase h1 {
  margin-top: 10px;
}
.showcase p {
  margin-top: 10px;
  font-size: var(--paragtpah-size);
}
.showcase img {
  height: 250px;
}
.showcase .grid {
  overflow: visible;
  gap: 70px;
  grid-template-columns: repeat(3, 1fr);
}
.showcase .card {
  background-color: rgb(226, 217, 217);
  padding: 20px;
  height: 530px;
}
@media screen and (max-width: 1550px) {
  .showcase .grid {
    grid-template-columns: repeat(2, 1fr);
    width: 800px;
    margin: 0 auto;
  }

  .showcase img {
    height: 170px;
  }
  .showcase .item-3 {
    left: 50%;
  }
}
@media screen and (max-width: 1085px) {
  .showcase .grid {
    overflow: visible;
    gap: 70px;
    grid-template-columns: repeat(1, 1fr);
    width: 350px;
  }
  .showcase img {
    height: 188px;
  }
  .showcase .item-3 {
    left: 0;
  }
  .showcase .card {
    height: 670px;
  }
}
@media screen and (max-width: 400px) {
  .showcase .grid {
    grid-template-columns: repeat(1, 1fr);
    width: 280px;
  }
  .showcase img {
    height: 170px;
  }
}
/* .showcase .heading {
  border-bottom: 3px var(--primary-color) solid;
  width: 200px;
} */

.showcase .container {
  margin-top: 20px;
}

/* About */
.about {
  margin-top: 70px;
}
.about .flex {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about .container {
  padding: 0 70px;
}
.about p {
  font-size: var(--paragtpah-size);
}
.about .underline {
  width: 150px;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Gallery */
.gallery .underline {
  margin-top: 20px;
  margin-bottom: 20px;
}
.gallery h1 {
  text-align: center;
  margin-top: 70px;
}

.photos {
  flex-wrap: wrap;
}

.photos .image {
  width: calc(100% / 3);
  padding: 10px;
}
.photos a {
  display: flex;
  overflow: hidden;
}
.photos .image img {
  transition: all 0.3s ease;
}
.photos .image:hover img {
  transform: scale(1.05);
}

@media screen and (max-width: 800px) {
  .photos .image {
    width: 100%;

    padding: 10px;
  }
}
