body {
  height: 100vh;

  /* background: linear-gradient(#9198e5d8, #e664643b),
    url("./Images/computerstation.jpg"); */
}

/* Banner */
.banner {
  margin-top: 60px;
  background-color: rgba(0, 0, 0, 0.493);
  height: 100px;
  background-size: cover;
  background-attachment: fixed;
}
.banner h2 {
  font-size: 1.4rem;
}
.banner .left-heading {
  float: left;
  margin: 20px;
}
.banner .right-heading {
  float: right;
  margin: 35px;
}
/* Banner */

/* Home */
#index {
  position: relative;
  height: auto;
  width: auto;
}
#index img {
  width: 50%;
}
#index .img-helper {
  position: relative;
  margin: 30px;
  width: auto;
  height: auto;
  display: block;
}

#index .img::before {
  content: "";
  position: absolute;
  border: gray 2px solid;
  background-color: gray;
  height: 100%;
  width: 50%;
  left: -20px;
  top: -20px;
  z-index: -1;
}

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  line-height: 30px;
  text-align: center;
  padding: 0 3%;
}

.about-left {
  box-sizing: border-box;
  flex: 30%;
}

.about-right {
  height: auto;
  padding: 0 5%;
  flex: 50%;
}

@media screen and (max-width: 580px) {
  .right-heading {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  .about-right,
  .about-left {
    flex: 100%;
  }
  img,
  .img::before {
    display: none;
  }
}
