/* Banner */
.banner {
  margin-top: 60px;
  background-size: cover;
  background-attachment: fixed;
}
.banner {
  height: 100vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url(/Images/1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.banner h1 {
  text-align: center;
  height: 50%;
  color: white;
  font-weight: 300;
}
/* showcase */

.showcase h1 {
  height: 50px;
}
.showcase .grid {
  overflow: visible;
  gap: 50px;
  grid-template-columns: repeat(3, 1fr);
}

.showcase .card {
  background-color: rgb(243, 209, 209);
  padding: 30px;
  height: 150px;
}
.showcase-center h1 {
  margin: 5px;
  font-size: 20px;
}
